.container
	.row
		.col-sm-8.col-md-8.col-lg-8
			:markdown
				## Hello #{title}

				<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

				Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

			table.table.table-striped.table-hover
				thead
					tr
						th Name
						th Company
				tbody
					tr
						td Trina Friesen
						td Mann Group
					tr
						td Burney O'Kon
						td DuBuque Ltd
					tr
						td Mr. Reinhold Schmidt DDS
						td Kovacek-Rogahn
					tr
						td Tod Heller
						td Smitham-Cormier
					tr
						td Dr. Hayden Lockman
						td Wisoky-Witting

		.col-sm-4.col-md-4.col-lg-4
			include _aside.md
